.wrapper {
  position: relative;
  z-index: 1;
}

div.sidebar {
  height: 100vh;
  overflow: visible;
  background: #f8f9fa;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

.toggle-btn:hover button {
  background-color: #e9ecef;
}

.p-panelmenu .p-panelmenu-header > a {
  border-left: 0px !important;
  border-right: 0px !important;
}
.p-panelmenu .p-panelmenu-panel:first-child .p-panelmenu-header > a {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}
.p-panelmenu .p-panelmenu-panel .p-panelmenu-header > a {
  border-left: 0px !important;
  border-right: 0px !important;
}
.navbar-nav {
  flex-direction: row;
  flex-wrap: wrap;
}
.navbar-nav .nav-item {
  padding: 0px 7.5px;
}

.grow-1 {
  flex-grow: 1;
}

.sidebar .navbar {
  width: 260px;
  overflow: auto;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
.sidebar .navbar.hide-nav {
  width: 67.7px;
}
// scrollbar design
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.toggle-btn {
  width: 100%;
  padding: 1rem;
  border: 0px;
  color: #495057;
  background: #f8f9fa;
  font-weight: 600;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  i {
    margin-right: 0.5rem;
    font-size: 9px;
    font-weight: bold;
    color: #262626;
  }
  &:hover {
    background: #e9ecef;
    border-color: #dee2e6;
  }
}
.hide-nav .toggle-btn span {
  display: none;
}
.hide-nav .toggle-btn {
  justify-content: center;
}

:host {
  ::ng-deep {
    .p-menuitem-link-active {
      background: #eee !important;
      &:focus {
        box-shadow: unset !important;
      }
    }
    .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus,
    .p-panelmenu .p-panelmenu-header > a:focus {
      box-shadow: unset !important;
    }
    .p-panelmenu .p-panelmenu-panel:first-child .p-panelmenu-header > a {
      border-left: 0px !important;
      border-right: 0px !important;
    }
    .p-menuitem-icon {
      font-size: 20px;
    }
    .p-menuitem-text {
      font-size: 14px;
      white-space: nowrap;
    }
    .p-menuitem-text,
    .p-panelmenu-icon,
    .nav-footer {
      transition: opacity 1s;
      -webkit-transition: opacity 1s;
    }
    .hide-nav .p-menuitem-text,
    .hide-nav .p-panelmenu-icon,
    .hide-nav + .nav-footer {
      display: none;
      opacity: 0;
    }
    .p-panelmenu-header-link {
      position: relative;
      .p-panelmenu-icon {
        position: absolute;
        right: 8px;
      }
      .pi-chevron-right:before {
        content: '\e902';
      }
      .pi-chevron-down:before {
        content: '\e901';
      }
    }
  }
}

// toggle icon
.toggle-icon {
  position: absolute;
  top: 48%;
  right: 5px;
  color: #fff !important;
  z-index: 9;
}
