<app-grid
  [rows]="users"
  [columns]="lookUpColumns"
  [totalRecords]="totalRecords"
  [globalFilterData]="globalFilterData"
  [pagination]="false"
  [defaultRows]="10"
  [lookupFilters]="true"
  [allowColumnToggle]="false"
  [showCurrentPageReport]="true"
  [useServerSideEvents]="true"
  (onRowClick)="handleRowClick($event)"
  (onSortChange)="handleSortChange($event)"
  (onFilterChange)="handleFilterChange($event)"
  (onPageChange)="handleServerSideEventPagination($event)"
  (onServerSideEventChange)="handleServerSideEventChange($event)"
  [allowSelection]="true"
  [selectionColumnWidth]="'100px'"
  [rowActions]="rowActions"
  [dataKey]="'CId'"
  [selectionType]="gridSelectionType"
  [selectedRows]="selectedRows"
  [scrollable]="scroll"
  [scrollHeight]="'500px'"
></app-grid>
